.flexbox {
    display: flex;
    
    padding: 20px;
}
.item{
   
    padding: 20px;
}
#box1 {
    justify-content: space-evenly;
    background: rgb(227, 148, 219)
}
#box2 { 
    justify-content: center;
}
#box3 {
    justify-content: center;
    background:rgb(246, 203, 235)
}
#box4 {
    justify-content: center;
    
}
 h2 {
    text-align: center;
 }